body {
  background-image: url('https://image.slidesdocs.com/responsive-images/background/festival-sun-international-weather-powerpoint-background_254b8d7ae1__960_540.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 3px solid azure;
  padding: 50px;
  border-radius: 30px;

}

.weather-button{
  margin-top: 3%;
  border:3px solid yellowgreen;
  padding : 50px;
  border-radius:30px;

}

.weather-button .btn:not(:last-child) {
  margin-right: 10px;
}